
Miscellaneous/~$User Interface.pptx
Miscellaneous/~$Data.xlsx
MyLibrary/MyLibrary.sln
MyLibrary/.vs/
.vs/launch.vs.json
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
MyLibrary/MyLibrary/MyLibrary.csproj.user
MyLibrary/MyLibrary/MyLibrary_TemporaryKey.pfx
MyLibraryApp/MyLibraryApp.sln